$mainColor: #0F3294;
$secondColor:#13BEFF;
$thirdColor:#fff;
$forthColor:#b2b2b2;
$textColor:#565960;

$mainFont:Open-Sans; 
$boldFont:Open-Sans-bold; 
$regularFont:Open-Sans-regular; 
$italicFont:Open-Sans-italic; 