.product-detail-container {
  .article-details-header {
    @include responsive(phone) {
      flex-direction: column;
    }
    h4 {
      @include responsive(phone) {
        font-size: 20px;
      }
    }
  }
  .article-details-links {
    @include responsive(phone) {
      width: 100%;
      justify-content: flex-end;
    }
  }
  background-color: #efefef;
  .Breadcrumbs-container {
    margin-top: 25px;
    a {
      text-decoration: none;
    }
    .disabled-link {
      color: #ccc;
      cursor: no-drop;
    }
    a:focus {
      color: $secondColor;
    }
  }
  .card-details-container {
    background-color: $thirdColor;
    img {
      width: 100%;
      max-height: 467px;
      @include responsive(phone) {
       object-fit: contain;
      }
    }
    .card-details-content {
      padding: 15px;
      margin-bottom: 20px;
      .category-details {
        margin: 10px 0;
      }
    }
  }
}
