footer {
  .footer-top {
    background-color: #d9d9d9;
  }
  .footer-bottom {
    background-color: $mainColor;
    color: white;
  }

  a {
    text-decoration: none;
    color: #565960;
  }

  form {
    label {
      font-size: 20px;
      color: #565960;
    }
    input,
    button {
      padding: 0.7rem;
      @include responsive(phone) {
        padding: 0.35rem;
      }
      border: none;
      font-size: 18px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #565960;
      }
    }

    button {
      background-color: $secondColor;
      color: white;
      cursor: pointer;
    }
  }
  .footer-social-icons {
    p {
      color: #565960;
      margin-bottom: 10px;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        padding: 10px;
      }
    }
  }
}
