.homeFooter-container{
    background-image: url('../../../../assets/images/home-footer-bg.png');
    background-size: cover;
    color: white;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .content{
       position: relative;
       z-index: 3;

       .cards-container{
        max-width: 800px;
        flex-wrap: wrap;
        justify-content: center;
       }

       .card{
           border: 2px solid;
           transform: rotate(45deg);
           width: 130px;
           height: 130px;
           margin: 0 2rem;
           &:hover{
               background-color: $secondColor;
           }
           &:nth-child(5),
           &:nth-child(6), 
            &:nth-child(7){
              transform: rotate(45deg) translate(-10px, -10px);
           }
           @media screen and (max-width: 840px) {
            &:nth-child(5),
            &:nth-child(6), 
             &:nth-child(7){
               transform: rotate(45deg) ;
            }
            margin: 2rem;
           }
           .card-content{
               transform: rotate(-45deg);
               
               img{
                   width: 40px;
                   height: 40px;
                }

                p{
                    margin-bottom: 1rem;
                }
           }
       }
}
}