.slide-design{
    position: relative;
    height:620px;
    margin-bottom: 10px;overflow: hidden;
    img{
        width: 100%;
       height: 100%;
       transform:scaleY(1.4)
    }

}
.slide-design::after {
    background: #757575 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.55;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -0;
    }
    
.slider-content{
    width: 50%!important;
    right: 25%;
    color: #fff;
    text-align: center;
    width: max-content;
    position: absolute;
    top:25%;
    height: 50%;
    h3{
        font-family: $boldFont;
        font-size: 60px;
        margin-bottom: 20px;
    }
    p{
        font-family: $mainFont;
        font-size: 32px;
        margin-bottom: 20px;

    }
    button{
        width: max-content;
        color: #fff;
        padding:10px 20px;

     }
    }
    .swiper-slider-container.swiper-slider-container{
        .swiper-button-prev:after,   .swiper-button-next:after{       
            display: none;
        }
        .swiper-button-prev,  .swiper-button-next{       
            color: #000;
            background-color: #FBFBFB;
            border-radius: 5px;
            opacity: .7;
            height: 44px;
            width: 44px;
        }
        .swiper-button-prev  {
            left: 74px;
        }
        .swiper-button-next {
            right: 98px;
        }
        .swiper-pagination {
         text-align: center;
         bottom: 100px;
         right: 50%;
         span{
             padding: 6px;
             margin: 4px;
          
         }
         .swiper-pagination-bullet-active{
            background-color: #fff;
            padding: 9px;
         }
       }
    }
   
 